### Exportando o DataSet Credit Risk

In [15]:
import pandas as pd

pd.read_csv("Data_Risk/credit_risk_dataset.csv")

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [16]:
type (pd.read_csv("Data_Risk/credit_risk_dataset.csv"))

pandas.core.frame.DataFrame

### Criando uma variÃ¡vel para DataFrame

In [17]:
DataSet_risk = pd.read_csv("Data_Risk/credit_risk_dataset.csv")

In [18]:
DataSet_risk

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

### Renomeando Colunas

In [19]:
DataSet_risk = DataSet_risk.rename(columns={'person_age': 'Idade da pessoa'}).rename(columns={'person_income': 'Renda Pessoal'})

In [20]:
DataSet_risk

,Idade da pessoa,Renda Pessoal,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [21]:
DataSet_risk.columns

Index(['Idade da pessoa', 'Renda Pessoal', 'person_home_ownership',
       'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt',
       'loan_int_rate', 'loan_status', 'loan_percent_income',
       'cb_person_default_on_file', 'cb_person_cred_hist_length'],
      dtype='object')

In [23]:
DataSet_risk = DataSet_risk.rename(columns={
    'idade da pessoa': 'Idade',
    'Renda Pessoal': 'Renda',
    'person_home_ownership': 'Propriedade',
    'person_emp_length': 'Tempo de Emprego',
    'loan_intent': 'IntenÃ§Ã£o do EmprÃ©stimo',
    'loan_grade': 'Nota do EmprÃ©stimo',
    'loan_amnt': 'Valor do EmprÃ©stimo',
    'loan_int_rate': 'Taxa de Juros',
    'loan_status': 'Status do EmprÃ©stimo',
    'loan_percent_income': 'Percentual da Renda',
    'cb_person_default_on_file': 'HistÃ³rico de InadimplÃªncia',
    'cb_person_cred_hist_length': 'Tempo de HistÃ³rico de CrÃ©dito'})

### Verificando as informaÃ§Ãµes DataFrame

In [27]:
DataSet_risk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Idade da pessoa                32581 non-null  int64
 1   Renda                          32581 non-null  int64
 2   Propriedade                    32581 non-null  object
 3   Tempo de Emprego               31686 non-null  float64
 4   IntenÃ§Ã£o do EmprÃ©stimo         32581 non-null  object
 5   Nota do EmprÃ©stimo             32581 non-null  object
 6   Valor do EmprÃ©stimo            32581 non-null  int64
 7   Taxa de Juros                  29465 non-null  float64
 8   Status do EmprÃ©stimo           32581 non-null  int64
 9   Percentual da Renda            32581 non-null  float64
 10  HistÃ³rico de InadimplÃªncia     32581 non-null  object
 11  Tempo de HistÃ³rico de CrÃ©dito  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB

### Verificando se existe menor de idade

In [29]:
DataSet_risk['Idade da pessoa'].values <18

array([False, False, False, ..., False, False, False])

### Chegando a conclusÃ£o que nÃ£o existe

In [30]:
DataSet_risk. describe()

,Idade da pessoa,Renda,Tempo de Emprego,Valor do EmprÃ©stimo,Taxa de Juros,Status do EmprÃ©stimo,Percentual da Renda,Tempo de HistÃ³rico de CrÃ©dito
count,32581.000000,3.258100e+04,31686.000000,32581.000000,29465.000000,32581.000000,32581.000000,32581.000000
mean,27.734600,6.607485e+04,4.789686,9589.371106,11.011695,0.218164,0.170203,5.804211
std,6.348078,6.198312e+04,4.142630,6322.086646,3.240459,0.413006,0.106782,4.055001
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.850000e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,26.000000,5.500000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,7.920000e+04,7.000000,12200.000000,13.470000,0.000000,0.230000,8.000000
max,144.000000,6.000000e+06,123.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [31]:
import numpy as np

In [36]:
DataSet_risk[['Idade da pessoa']] .describe()

       Idade da pessoa
count     32581.000000
mean         27.734600
std           6.348078
min          20.000000
25%          23.000000
50%          26.000000
75%          30.000000
max         144.000000

In [39]:
DataSet_risk['Idade da pessoa'].quantile(0.25)

np.float64(23.0)

In [47]:
quartil = DataSet_risk['Idade da pessoa'].quantile(0.25) 
print(f"{quartil :.2f}%")

23.00%

### Mostrando somente a porcentagem da coluna idade

In [48]:
quartil = DataSet_risk['Idade da pessoa'].count() 
print(f"{quartil :.2f}%")

32581.00%

### Mostrando somente a media da coluna idade

In [50]:
media = DataSet_risk['Idade da pessoa'].mean()
print(f"{media:.2f}%")

27.73%